<div id="accordion-${fragmentEntryLinkNamespace}" class="fr-mb-12w">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-md-12 fr-col-12">
            <h3 data-lfr-editable-id="title" data-lfr-editable-type="rich-text">Accordéon</h3>
            <div class="fr-mb-6v">
                [#list 0..configuration.numberOfSlides-1 as i]
                <section class="fr-accordion">
                    <h3 class="fr-accordion__title">
                        <button data-lfr-editable-id="button-label-${i}" data-lfr-editable-type="rich-text"
                            class="fr-accordion__btn" aria-expanded="false"
                            aria-controls="accordion-1039-${fragmentEntryLinkNamespace}-${i}">Libellé
                            accordéon</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-1039-${fragmentEntryLinkNamespace}-${i}">
                        <div class="clearfix component-paragraph text-break" data-lfr-editable-id="element-text-${i}"
                            data-lfr-editable-type="rich-text">
                            A paragraph is a self-contained unit of a discourse in writing dealing with
                            a particular point or idea. Paragraphs are usually an expected part of
                            formal writing, used to organize longer prose.
                        </div>
                    </div>
                </section>
                [/#list]
            </div>
        </div>
    </div>
</div>