<div class="fr-follow" id="follow-${fragmentEntryLinkNamespace}">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 [#if configuration.newsletterOption = 'Complete-newsletter' ] fr-col-md-8 [/#if]">
                [#if configuration.newsletterOption = "Newsletter-only" || configuration.newsletterOption =
                "Complete-newsletter" ]
                <div class="fr-follow__newsletter">
                    <div data-lfr-editable-id="newsletter-name-and-description" data-lfr-editable-type="rich-text">
                        <h2 class="fr-h5">Abonnez-vous à notre lettre d’information</h2>
                        <p class="fr-text--sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius
                            tortor nibh, sit amet tempor nibh finibus et.</p>
                    </div>
                    <div>
                        <ul class="fr-btns-group fr-btns-group--inline-md">
                            <li>
                                <button data-lfr-editable-id="button-label" data-lfr-editable-type="text"
                                    id="newsletter-button-${fragmentEntryLinkNamespace}" title="S‘abonner à notre lettre d’information"
                                    class="fr-btn">S'abonner</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            [/#if]
            [#if configuration.newsletterOption = "Social-networks-only" || configuration.newsletterOption =
            "Complete-newsletter" ]
            <div class="fr-col-12 [#if configuration.newsletterOption = 'Complete-newsletter' ] fr-col-md-4 [/#if]">
                <div class="fr-follow__social d-flex w-100 justify-content-between">
                    <h2 data-lfr-editable-id="social-media" data-lfr-editable-type="rich-text" class="fr-h5">Suivez-nous
                        <br> sur les réseaux sociaux
                    </h2>
                    <ul class="fr-btns-group">
                        <li>
                            <a data-lfr-editable-id="facebook-link" data-lfr-editable-type="link" target="_blank"
                                rel="noopener external" title="[À MODIFIER - Intitulé du lien] - nouvelle fenêtre"
                                id="facebook-button-${fragmentEntryLinkNamespace}" href="[À MODIFIER - Lien vers le facebook de l'organisation]"
                                class="fr-btn--facebook fr-btn">Facebook</a>
                        </li>
                        <li>
                            <a data-lfr-editable-id="x-link" data-lfr-editable-type="link" target="_blank"
                                rel="noopener external" title="[À MODIFIER - Intitulé du lien] - nouvelle fenêtre"
                                id="x-button-${fragmentEntryLinkNamespace}" href="[À MODIFIER - Lien vers le twitter de l'organisation]"
                                class="fr-btn--twitter-x fr-btn">X (anciennement Twitter)</a>
                        </li>
                        <li>
                            <a data-lfr-editable-id="linkedIn-link" data-lfr-editable-type="link" target="_blank"
                                rel="noopener external" title="[À MODIFIER - Intitulé du lien] - nouvelle fenêtre"
                                id="linkedin-button-${fragmentEntryLinkNamespace}" href="[À MODIFIER - Lien vers le linkedin de l'organisation]"
                                class="fr-btn--linkedin fr-btn">Linkedin</a>
                        </li>
                        <li>
                            <a data-lfr-editable-id="instagram-link" data-lfr-editable-type="link" target="_blank"
                                rel="noopener external" title="[À MODIFIER - Intitulé du lien] - nouvelle fenêtre"
                                id="instagram-button-${fragmentEntryLinkNamespace}" href="[À MODIFIER - Lien vers l'instagram de l'organisation]"
                                class="fr-btn--instagram fr-btn">Instagram</a>
                        </li>
                        <li>
                            <a data-lfr-editable-id="youtube-link" data-lfr-editable-type="link" target="_blank"
                                rel="noopener external" title="[À MODIFIER - Intitulé du lien] - nouvelle fenêtre"
                                id="youtube-button-${fragmentEntryLinkNamespace}" href="[À MODIFIER - Lien vers le youtube de l'organisation]"
                                class="fr-btn--youtube fr-btn">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
            [/#if]
        </div>
    </div>
</div>