<figure class="fr-quote ${configuration.quoteOption} [#if configuration.addImage] fr-quote--column [/#if]">
    <blockquote cite="[À MODIFIER - https://lien-vers-la-source.fr]">
        <p ${configuration.quoteSize} data-lfr-editable-id="text" data-lfr-editable-type="text">« Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. 
					Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. 
					Accumsan lacus vel facilisis volutpat est. 
					Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.»</p>
    </blockquote>
    <figcaption>
        <p data-lfr-editable-id="auteur" data-lfr-editable-type="text" class="fr-quote__author">Auteur</p>
        <div class="fr-quote__source">
            <a data-lfr-editable-id="detail" data-lfr-editable-type="link" target="_blank" href="[À MODIFIER - Lien vers la sources ou des infos complémentaires]">détail</a>
        </div>
			[#if configuration.addImage]
			<div class="fr-quote__image">
            <img data-lfr-editable-id="image" data-lfr-editable-type="image" class="fr-responsive-img" src="[resources:placeholder.16x9]" alt="" />
        </div>
			[/#if]
    </figcaption>
</figure>