<div class="fr-notice fr-notice--${configuration.level} ${configuration.noticeIcon}">
    <div class="fr-container">
        <div class="fr-notice__body">
            <p>
                <span data-lfr-editable-id="title" data-lfr-editable-type="rich-text" class="fr-notice__title">Titre du bandeau d'information</span>
              [#if configuration.description == 'desc']  
								<span data-lfr-editable-id="description" data-lfr-editable-type="rich-text" class="fr-notice__desc">Texte de description lorem ipsum sit consectetur adipiscing.</span>
                <a data-lfr-editable-id="link" data-lfr-editable-type="link" target="_blank" rel="noopener external" title="[À MODIFIER - Intitulé] - nouvelle fenêtre" href="#" class="fr-notice__link">Lien de consultation</a>
           		[/#if]
					</p>
					[#if configuration.closeButton == 'button']
            <button data-lfr-editable-id="button-label" data-lfr-editable-type="rich-text" title="Masquer le message" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)" id="button-1302" class="fr-btn--close fr-btn">Masquer le message</button>
        	[/#if]
			</div>
    </div>
</div>