[#if configuration.tooltipType = "button"]
<button type="button" id="button-${fragmentEntryLinkNamespace}" aria-describedby="tooltip-${fragmentEntryLinkNamespace}"
    class="fr-btn--tooltip fr-btn">Information contextuelle</button>
[#else]
<a id="link-${fragmentEntryLinkNamespace}" data-lfr-editable-id="tooltip-label" data-lfr-editable-type="link"
    aria-describedby="tooltip-${fragmentEntryLinkNamespace}" id="link-${fragmentEntryLinkNamespace}" href="#"
    class="fr-link">Exemple</a>
[/#if]
<span data-lfr-editable-id="content" data-lfr-editable-type="rich-text" id="tooltip-${fragmentEntryLinkNamespace}"
    class="fr-tooltip fr-placement" role="tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut
    labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed
    enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet
    consectetur adipiscing elit ut.</span>

[#if layoutMode = 'edit' && configuration.openModal = true]
<script>
    document.getElementById(`tooltip-${fragmentEntryLinkNamespace}`).classList.add('fr-tooltip--shown', 'position-relative');
</script>
[/#if]