[#if configuration.tagType == 'a' || configuration.tagType == 'p' ]
<${configuration.tagType} data-lfr-editable-id="01-tag-label" data-lfr-editable-type="rich-text"
	style="font-size:${configuration.fontSize}" class="fr-tag ${configuration.tagSize} ${configuration.tagIcon}"
	id="tag-${fragmentEntryLinkNamespace}" [#if configuration.tagMode='disabled' ] aria-disabled="true" role="link" [/#if] [#if
	configuration.tagMode='' ] href="#" [/#if]>Libellé tag
</${configuration.tagType}>
[/#if]
[#if configuration.tagType == 'selectable' || configuration.tagType == 'removable']
<button data-lfr-editable-id="02-tag-label" data-lfr-editable-type="rich-text"
	style="font-size:${configuration.fontSize}"
	class="fr-tag ${configuration.tagSize} ${configuration.tagIcon} [#if configuration.tagType == 'removable'] fr-tag--dismiss [/#if]"
	id="tag-${fragmentEntryLinkNamespace}" href="#" [#if configuration.tagType='removable' ]
	aria-label="Retirer [À MODIFIER - le filtre Libellé tag]" [/#if] [#if configuration.tagType='selectable' ]
	aria-pressed="false" [/#if] ${configuration.tagMode}>
	Libellé tag</button>
[/#if]