<button id="modal-${fragmentEntryLinkNamespace}" class="fr-btn" aria-controls="fr-modal-${fragmentEntryLinkNamespace}" data-fr-opened="false" data-lfr-editable-id="modal-cta" data-lfr-editable-type="text" > Titre de
    modale
    simple
</button>
<dialog aria-labelledby="fr-modal-title-modal-${fragmentEntryLinkNamespace}" role="dialog" id="fr-modal-${fragmentEntryLinkNamespace}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header"> 
                        <button data-lfr-editable-id="modal-close" data-lfr-editable-type="text" class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-${fragmentEntryLinkNamespace}">
                            Fermer
                        </button> 
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-${fragmentEntryLinkNamespace}" class="fr-modal__title">
                            <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                            <span data-lfr-editable-id="modal-title" data-lfr-editable-type="text" >
                                Titre de la modale
                            </span>
                        </h1>
                        <p data-lfr-editable-id="modal-content" data-lfr-editable-type="rich-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
                            amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
                            Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
                            porttitor pulvinar, tortor eros facilisis libero, vitae commodo nunc quam et ligula. Ut nec
                            ipsum sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer id nisi
                            nec nulla luctus lacinia non eu turpis. Etiam in ex imperdiet justo tincidunt egestas. Ut
                            porttitor urna ac augue cursus tincidunt sit amet sed orci.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>



[#if layoutMode = 'edit' && configuration.openModal = true]
<script>
    document.getElementById(`modal-${fragmentEntryLinkNamespace}`).setAttribute('data-fr-opened', 'true');
</script>
[/#if]