<div id="card-${fragmentEntryLinkNamespace}"
    class="fr-card fr-enlarge-link ${configuration.cardSize} ${configuration.cardLayout} ${configuration.cardVariation} ${configuration.cardType}">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">
                <a id="card-label-${fragmentEntryLinkNamespace}" data-lfr-editable-id="card-label" data-lfr-editable-type="link" ${configuration.cardMode} [#if
                    configuration.cardLayout="fr-card--download" ] download href="#" [/#if]>Intitulé de la carte (sur
                    lequel se trouve le lien)</a>
            </h3>
            [#if configuration.cardDescription]
            <p data-lfr-editable-id="description" data-lfr-editable-type="rich-text" class="fr-card__desc">Lorem [...]
                elit ut.</p>
            [/#if]
            <div class="fr-card__start">
                [#if configuration.tagOption && !(configuration.badgeOption)]
                <ul class="fr-tags-group">
                    [#list 0..configuration.numberOfTags-1 as i]
                    [#assign index = "${i+1}" /]
                    <li>
                        <p data-lfr-editable-id="0${i}-tag-label" data-lfr-editable-type="rich-text" class="fr-tag">
                            Libellé tag</p>
                    </li>
                    [/#list]
                </ul>
                [/#if]
                [#if configuration.badgeOption && !(configuration.tagOption)]
                <ul class="fr-badges-group">
                    [#list 0..configuration.numberOfTags-1 as i]
                    [#assign index = "${i+1}" /]
                    <li>
                        <p data-lfr-editable-id="0${i}-badge-label" data-lfr-editable-type="rich-text"
                            class="fr-badge fr-badge--purple-glycine">Libellé badge</p>
                    </li>
                    [/#list]
                </ul>
                [/#if]
                [#if configuration.detailsOption]
                <p data-lfr-editable-id="card-details" data-lfr-editable-type="text" class="fr-card__detail [#if configuration.detailsIconOption] fr-icon-warning-fill [/#if]">détail
                    (optionnel)</p>
                [/#if]
            </div>

        </div>
    </div>
    [#if configuration.cardImage == "imageSelected"]
    <div class="fr-card__header">
        <div class="fr-card__img">
            <img class="fr-responsive-img ${configuration.aspectRatio}" data-lfr-editable-id="image-square"
                data-lfr-editable-type="image"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAABECAYAAABK3PEEAAAACXBIWXMAAC4jAAAuIwF4pT92AAABBUlEQVR4Xu3VAQkAIBDFUO0fRLCD2RSM8dg12Mbn5trnjo41MAvMtv1gBbb7FhjvW+AC6wZwvn5wgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI7XgguMG8DxWnCBcQM4XgsuMG4Ax2vBBcYN4HgtuMC4ARyvBRcYN4DjteAC4wZwvBZcYNwAjteCC4wbwPFacIFxAzheCy4wbgDHa8EFxg3geC24wLgBHK8FFxg3gOO14ALjBnC8Flxg3ACO14ILjBvA8VpwgXEDOF4LLjBuAMdrwQXGDeB4LbjAuAEcrwUXGDeA47XgAuMGcLwWXGDcAI73ADVez7kdh2y/AAAAAElFTkSuQmCC"
                alt="[À MODIFIER - vide ou texte alternatif de l’image]" />
            <!-- L’alternative de l’image (attribut alt) doit toujours être présente, sa valeur peut-être vide (image n’apportant pas de sens supplémentaire au contexte) ou non (porteuse de texte ou apportant du sens) selon votre contexte -->
        </div>
    </div>
    [/#if]
	[#if layoutMode = 'edit']
	<style>
		#card-label-${fragmentEntryLinkNamespace}:before{
			width:0px;
		}
	</style>
	[/#if]
</div>