<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
    <h2 data-lfr-editable-id="summary" data-lfr-editable-type="rich-text" class="fr-summary__title">Sommaire</h2>
    <ol>
        <li>
            <a data-lfr-editable-id="01-link" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-1">Libellé du lien 1</a>
            <ol>
                <li>
                    <a data-lfr-editable-id="01-link1" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-1.1">Libellé du lien 1.1</a>
                </li>
                <li>
                    <a data-lfr-editable-id="01-link2" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-1.2">Libellé du lien 1.2</a>
                </li> 
            </ol>
        </li>
        <li>
            <a data-lfr-editable-id="02-link" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-2">Libellé du lien 2</a>
        </li>
        <li>
            <a data-lfr-editable-id="03-link" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-3">Libellé du lien 3</a>
            <ol>
                <li>
                    <a data-lfr-editable-id="03-link1" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-3.1">Libellé du lien 3.1</a>
                </li>
                <li>
                    <a data-lfr-editable-id="03-link2" data-lfr-editable-type="link" class="fr-summary__link" href="#anchor-3.2">Libellé du lien 3.2</a>
                </li>
            </ol>
        </li>
    </ol>
</nav>