<div id="callout-${fragmentEntryLinkNamespace}"
	class="fr-callout [#if configuration.emphasis] fr-callout--green-emeraude [/#if]">
	[#if configuration.addTitle]
	<h3 data-lfr-editable-id="title" data-lfr-editable-type="text" class="fr-callout__title">Titre mise en avant</h3>
	[/#if]
	<p data-lfr-editable-id="content" data-lfr-editable-type="rich-text" class="fr-callout__text">Lorem ipsum dolor sit
		amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant
		morbi tristique senectus et. Diam maecenas sed</p>
	[#if configuration.addButton]
	<button data-lfr-editable-id="button-label" data-lfr-editable-type="rich-text" id="button-6434"
		class="fr-btn">Libellé bouton</button>
	[/#if]
</div>