<div class="fr-search-bar ${configuration.buttonStyle}" id="search-${fragmentEntryLinkNamespace}" role="search">
    <label data-lfr-editable-id="label" data-lfr-editable-type="rich-text" class="fr-label" for="search-${fragmentEntryLinkNamespace}-input">
        Rechercher
    </label>
    <input class="fr-input" aria-describedby="search-${fragmentEntryLinkNamespace}-input-messages" placeholder=" ${configuration.placeholder}" id="search-${fragmentEntryLinkNamespace}-input" type="search">
    <div class="fr-messages-group" id="search-${fragmentEntryLinkNamespace}-input-messages" aria-live="polite">
    </div>
    <button data-lfr-editable-id="search-button" data-lfr-editable-type="rich-text" id="search-btn-1491" [#if configuration.buttonStyle = ""]title="Rechercher"[/#if] class="fr-btn">Rechercher</button>
</div>